ML/tf-env/
.DS_Store
ML/test_2/pizza_steak/
ML/test_2/pizza.zip
ML/test_2/steak.zip
ML/beam_model1.keras
ML/beam_model2.keras
ML/beam_model3.keras
ML/beam_model4.keras
ML/beam_model5.keras
ML/beam.txt
ML/beam2.txt
ML/beam3.txt
ML/JakubModel.keras
ML/miras_model.keras
ML/mnist_noise_model.keras
ML/mnist.hupsista
ML/my_model_final.keras
ML/my_model_final1.keras
ML/my_model_final2.keras
ML/my_model_final3.keras
ML/my_model_final4.keras
ML/My_own-trainning/image/image.png
ML/My_own-trainning/image/image2.png
ML/model_diagram.png
ML/model1_diagram.png
ML/model2_diagram.png
ML/model3_diagram.png
ML/model4_diagram.png
ML/model5_diagram.png
ML/parallel_mlp.png
ML/exam_model.ipynb
Population Shifts In Finland - ML Task/project_context.md
